@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



/* Variables Definition */
:root{
  /* Colors */
  --Color1:  rgb(34, 108, 48);;
  --Light:  rgb(232, 232, 232);
  --Dark:  rgb(19, 19, 19);
  --Gray:  rgb(40, 40, 40);
}





/*general*/
html{scroll-behavior: smooth;
    background-color: var(--Dark);
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color:var(--Light);
}
body{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.ken {
    animation: kenny 40s linear;
    background-image: url(../gou_images/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    opacity: 0.10;
    overflow: hidden;
    scale: 1.2;
    position: fixed;
    z-index: -1;
  }
  
  @keyframes kenny {
    
    25% {
      opacity: 0.02;
      scale: 0.9;
    }
    50% {
        opacity: 0.08;
        scale: 0.7;
      }
    75% {
        opacity: 0.1;
        scale: 1;
      }
    100% {
          opacity: 0.10;
          scale: 1.2;
        }
  }

footer{
  display: flex;
  justify-content: space-between;
  margin: 1rem 10%;
}