.gou_contact{
    padding: 12rem 4rem 14rem;
    background-color: white;
    text-align: center;
}

.gou_contact h1{
    color: black;
}

.gou_contact p{
    color: black;
    margin-bottom: 2rem;    
}

.gou_contact img{
    margin-bottom:2rem ;
}





.gou_contact a,
.gou_contact a:visited{
    color: white;
    background-color: black;
    border: 2px solid Black;
    padding: 1rem 4rem;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.6s;
}

.gou_contact a:focus,
.gou_contact a:hover{

    color: white;
    background-color: rgb(150, 23, 23);
    border: 1px solid white;
    padding: 1rem 6rem;
}

