.gou_contact{
    padding: 6rem 4rem 6rem;
    background-color: var(--Light);
    text-align: center;
}

.gou_contact h1{
    color: var(--Dark);
}

.gou_contact p{
    color: var(--Dark);
    margin-bottom: 2rem;    
}

.gou_contact img{
    margin: 4rem 0 2rem;
}

.gou_contact .links{
    display: flex;
    justify-content: center ;
    gap: 10px;
}



.gou_contact a,
.gou_contact a:visited{
    color: var(--Light);
    background-color: var(--Gray);
    border: 2px solid var(--Dark);
    padding: 1rem 4rem;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.6s;
}

.gou_contact a:focus,
.gou_contact a:hover{

    color: var(--Light);
    background-color: var(--Color1);
    border: 2px solid var(--Color1);

    padding: 1rem 6rem;
}

@media screen and (max-width: 800px) {
    .gou_contact .links{
        flex-flow: column ;
        
    }

}