.gou_nft{
    text-align: center;
    padding: 2rem;
    min-height: 70vh;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.gou_nft a{
    font-weight: 400;
    font-size: 12pt;
}

#permas {

    position: absolute;
    overflow:hidden;
    overflow-y: hidden;
    white-space:nowrap;
    
    /* added */
    left: 0;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #permas img {
    height: 100%;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }