.gou_services {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: white;

  }

  .gou_services .section-heading{
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: black;
  }

  .gou_services .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  .gou_services .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .gou_services .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, black 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  .gou_services h3 {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 1em 0;
  }
  .gou_services p {
    color: gray;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .gou_services .icon-wrapper {
    background-color: gray;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .gou_services .card:hover {

    background-position: 0 100%;
    
  }
  .gou_services .card:hover .icon-wrapper {
    background-color: black;
    color:black;
  }
  .gou_services .card:hover h3 {
    color: #ffffff;
  }
  .gou_services .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    .gou_services {
      padding: 0 2em;
    }
    .gou_services .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    .gou_services {
      padding: 1em 3em;
    }
    .gou_services .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }